<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ma.rest.mapper.dao.GoodsShopCarMapper" >
    <resultMap id="SGBaseResultMap" type="com.ma.rest.base.model.GoodsShopCar">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
        <result column="num" property="num" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <association property="good" javaType="com.ma.rest.base.model.Goods">
            <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
            <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
            <result column="goods_title" jdbcType="INTEGER" property="goodsTitle" />
            <result column="amount" jdbcType="VARCHAR" property="amount" />
            <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
            <result column="status" jdbcType="VARCHAR" property="status" />
            <result column="category_id" property="categoryId" jdbcType="INTEGER" />
            <result column="price" jdbcType="DECIMAL" property="price" />
            <result column="pic_details" jdbcType="VARCHAR" property="picDetails" />
            <result column="param_details" jdbcType="VARCHAR" property="paramDetails" />
            <result column="discount_price" jdbcType="DECIMAL" property="discountPrice" />
            <result column="member_type" jdbcType="VARCHAR" property="memberType" />
            <result column="is_choice" jdbcType="VARCHAR" property="isChoice" />
            <result column="mod_time" jdbcType="VARCHAR" property="modTime" />
            <result column="add_time" jdbcType="VARCHAR" property="addTime" />
            <result column="goods_number" jdbcType="INTEGER" property="goodsNumber" />
            <association property="maUserInfo" javaType="com.ma.rest.pojo.MaUserInfo">
                <id column="user_id" property="userId" jdbcType="INTEGER" />
                <result column="nickname" property="nickName" jdbcType="VARCHAR" />
                <result column="phone" property="phone" jdbcType="VARCHAR" />
                <result column="head_img" property="headImg" jdbcType="VARCHAR" />
                <result column="user_token" property="userToken" jdbcType="VARCHAR" />
                <result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
                <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
                <result column="appVersion" property="appVersion" jdbcType="VARCHAR" />
                <result column="status" property="status" jdbcType="VARCHAR" />
                <result column="back_img" property="backImg" jdbcType="VARCHAR" />
                <result column="category_id" property="categoryId" jdbcType="VARCHAR"/>
                <result column="type" property="type" jdbcType="VARCHAR"/>
                <result column="sign" property="sign" jdbcType="VARCHAR"/>
                <result column="business_introduction" property="businessIntroduction" jdbcType="VARCHAR"/>
            </association>
        </association>
    </resultMap>
  <resultMap id="BaseResultMap" type="com.ma.rest.base.model.GoodsShopCar" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    id, uid, goods_id, num, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from goods_shopcar
    where id = #{id,jdbcType=INTEGER}
  </select>
    <!--根据用户查询购物车列表-->
    <select id="selectAllGoodsShopCarByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List" />
        from goods_shopcar
        <where>
            <if test="userId!=null">
                uid = #{userId,jdbcType=INTEGER}
            </if>
            <if test="goodsId!=null">
                and goods_id= #{goodsId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from goods_shopcar
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <!--删除或者清空购物车-->
    <delete id="deleteBatch" parameterType="java.lang.String" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from goods_shopcar
        <where>
            <if test="userId!=null">
                uid=#{userId}
            </if>
            <if test="goodIds!=null">
               and goods_id in (${goodIds})
            </if>
        </where>
    </delete>
  <insert id="insert" parameterType="com.ma.rest.base.model.GoodsShopCar" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into goods_shopcar (id, uid, goods_id, 
      num, status, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ma.rest.base.model.GoodsShopCar" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into goods_shopcar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ma.rest.base.model.GoodsShopCar" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update goods_shopcar
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ma.rest.base.model.GoodsShopCar" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update goods_shopcar
    set uid = #{uid,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="queryShopCarGoodsList" resultMap="SGBaseResultMap" parameterType="java.lang.Integer">
        select
        gos.id, gos.uid, gos.goods_id, gos.num, gos.status, gos.create_time, gos.update_time,
        gs.goods_id,
        gs.goods_name,
        gs.goods_title,
        gs.amount,
        gs.goods_img,
        gs.status,
        DATE_FORMAT(gs.add_time,'%Y-%m-%d %H:%i:%s') add_time,
        gs.category_id,
        gs.price,
        gs.pic_details,
        gs.param_details,
        gs.discount_price,
        gs.member_type,
        gs.is_choice,
        DATE_FORMAT(gs.mod_time,'%Y-%m-%d %H:%i:%s') mod_time,
        ma_user.user_id,
        ma_user.nickname,
        ma_user.phone,
        ma_user.head_img,
        ma_user.user_token,
        ma_user.reg_time,
        ma_user.last_login_time,
        ma_user.appVersion,
        ma_user.status,
        ma_user.back_img,
        ma_user.type,
        ma_user.category_id,
        ma_user.sign,
        ma_user.business_introduction
        FROM goods_shopcar gos
        left join ma_goods gs
        on gos.goods_id=gs.goods_id
        left JOIN ma_user_info ma_user
        on gs.userId=ma_user.user_id
	    <where>
            1=1 and gs.status!=0
            <if test="userId != null" >
                and gos.uid= #{userId,jdbcType=INTEGER}
            </if>
            <if test="goodsId != null" >
                and gos.goods_id = #{goodsId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>